* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
#displaytext {
  display: none;
}
#seemore {
  cursor: pointer;
}
#seeless {
  cursor: pointer;
  display: none;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  width: 100%;
}
p {
  font-size: 16px;
  width: 50%;
}
.cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px;
  background: rgb(68, 175, 241);
  width: 80%;
  border-radius: 5px;
}
.items {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px 50px 20px;
  gap: 25px;
}
.images {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
h2 {
  font-weight: normal;
}
.items img {
  width: 100px;
  /* align-self: center; */
}
button {
  width: 150px;
  border-radius: 25px;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.buttons {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
.images img {
  width: 35px;
}

@media (max-width: 460px) {
  .cover {
    margin: 20px;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 16px;
  }
  button {
    width: 100px;
  }
}
